<%= content_for(:frontend_javascript) do %>
  <%= javascript_include_tag "forms-example-basic-form-index" %>
<% end %>

<h3>RailsForm</h3>
<%= form_tag "/forms_example/basic_form" do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, current_user.name %>
  <%= label_tag :age %>
  <%= text_field_tag :age, current_user.age %>
  <%= label_tag :sex %>
  <%= text_field_tag :sex, current_user.sex %>
  <%= submit_tag %>
<% end %>

<div id="mount-point"></div>
