<!DOCTYPE html>
<html>
<head>
  <title>HelloRailsWithReact</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= Gon::Base.render_data %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= yield :frontend_javascript %>
</body>
</html>
